<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Eterna - Professional bootstrap site template for corporate business</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Your page description here"/>
    <meta name="author" content=""/>

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet"/>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="static/css/flexslider.css" rel="stylesheet"/>
    <link href="static/css/prettyPhoto.css" rel="stylesheet"/>
    <link href="static/css/camera.css" rel="stylesheet"/>
    <link href="static/css/jquery.bxslider.css" rel="stylesheet"/>
    <link href="static/css/style.css" rel="stylesheet"/>


    <!-- Theme skin -->
    <link href="static/color/default.css" rel="stylesheet"/>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png"/>
    <link rel="shortcut icon" href="static/ico/favicon.png"/>


    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"
          type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css?hcode=c11e6e3cfefb406e8ce8d99fa8368d33"
          type="text/css" rel="stylesheet">
    <style type="text/css">
        html, body, #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <!-- =======================================================
      Theme Name: Eterna
      Theme URL: https://bootstrapmade.com/eterna-free-multipurpose-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>

<div id="wrapper">

    <!-- start header -->
    <header>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <p class="topcontact"><i class="icon-phone"></i> +62 088 999 123</p>
                    </div>
                    <div class="span6">

                        <ul class="social-network">
                            <li><a href="#" data-placement="bottom" title="Facebook"><i
                                    class="icon-facebook icon-white"></i></a></li>
                            <li><a href="#" data-placement="bottom" title="Twitter"><i
                                    class="icon-twitter icon-white"></i></a></li>
                            <li><a href="#" data-placement="bottom" title="Linkedin"><i
                                    class="icon-linkedin icon-white"></i></a></li>
                            <li><a href="#" data-placement="bottom" title="Pinterest"><i
                                    class="icon-pinterest  icon-white"></i></a></li>
                            <li><a href="#" data-placement="bottom" title="Google +"><i
                                    class="icon-google-plus icon-white"></i></a></li>
                            <li><a href="#" data-placement="bottom" title="Dribbble"><i
                                    class="icon-dribbble icon-white"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">


            <div class="row nomargin">
                <div class="span4">
                    <div class="logo">
                        <a href="index.html"><img src="static/img/flare.png" alt="MIND FLARE"/></a>
                    </div>
                </div>
                <div class="span8">
                    <div class="navbar navbar-static-top">
                        <div class="navigation">
                            <nav>
                                <ul class="nav topnav">
                                    <li class="dropdown active">
                                        <a href="index.html"><i class="icon-home"></i> Home <i
                                                class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-alt2.html">Homepage 2</a></li>
                                            <li><a href="index-alt3.html">Homepage 3</a></li>
                                            <li><a href="index-alt4.html">Parallax slider</a></li>
                                            <li><a href="index-landingpage.html">Landing page</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Features <i class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="typography.html">Typography</a></li>
                                            <li><a href="components.html">Components</a></li>
                                            <li><a href="icons.html">Icons</a></li>
                                            <li><a href="icon-variations.html">Icon variations</a></li>
                                            <li class="dropdown"><a href="#">3rd menus<i
                                                    class="icon-angle-right"></i></a>
                                                <ul class="dropdown-menu sub-menu-level1">
                                                    <li><a href="index.html">Sub menu</a></li>
                                                    <li><a href="index.html">Sub menu</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Pages <i class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="pricingbox.html">Pricing boxes</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Portfolio <i class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio-2cols.html">Portfolio 2 columns</a></li>
                                            <li><a href="portfolio-3cols.html">Portfolio 3 columns</a></li>
                                            <li><a href="portfolio-4cols.html">Portfolio 4 columns</a></li>
                                            <li><a href="portfolio-detail.html">Portfolio detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Blog <i class="icon-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
                                            <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                                            <li><a href="post-left-sidebar.html">Post left sidebar</a></li>
                                            <li><a href="post-right-sidebar.html">Post right sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end navigation -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->

    <!-- section featured -->
    <section id="featured">

        <!-- slideshow start here -->

        <div class="camera_wrap" id="camera-slide">

            <!-- slide 1 here -->
            <div data-src="static/img/slides/camera/slide1/background1.jpeg">
                <div class="camera_caption fadeFromLeft">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <h2 class="animated fadeInDown"><strong>Determining the best possible volunteer with
                                    <span class="colored">DCOP framework</span></strong></h2>
                                <p class="animated fadeInUp"> Model and solve the volunteer-user mapping problem as
                                    Distribute Constraint Optimization Problem.</p>
                                <a href="#" class="btn btn-success btn-large animated fadeInUp">
                                    <i class="icon-link"></i> Read more
                                </a>
                                {#                  <a href="#" class="btn btn-theme btn-large animated fadeInUp">#}
                                {#											<i class="icon-download"></i> Download#}
                                {#										</a>#}
                            </div>
                            <div class="span6">
                                <img src="static/img/slides/camera/slide1/match.png" alt=""
                                     class="animated bounceInDown delay1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- slide 2 here -->
            <div data-src="static/img/slides/camera/slide2/background2.jpg">
                <div class="camera_caption fadeFromLeft">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <img style="width: 90%; height: 90%"
                                     src="static/img/slides/camera/slide2/aiwithhuman.jpg" alt=""/>
                            </div>
                            <div class="span6">
                                <h2 class="animated fadeInDown"><strong>Collaboration of <span class="colored">Artificial Intelligence</span></strong>
                                </h2>
                                <p class="animated fadeInUp"> AI is an important assistant for the volunteers. AI will
                                    create personalized profile for each user.</p>
                                <form>
                                    <div class="input-append">
                                        <input class="span3 input-large" type="text">
                                        <button class="btn btn-theme btn-large" type="submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- slide 3 here -->
            <div data-src="static/img/slides/camera/slide2/backgroundd3.png">
                <div class="camera_caption fadeFromLeft">
                    <div class="container">
                        <div class="row">
                            <div class="span6">
                                <h2 class="animated fadeInDown"><strong><span class="colored">Anonymous</span> sharing
                                    with <span class="colored">experts</span> </strong></h2>
                                <p class="animated fadeInUp"> User can share their problems anonymously with volunteers
                                    and experts.</p>
                                <a href="#" class="btn btn-success btn-large animated fadeInUp">
                                    <i class="icon-link"></i> Read more
                                </a>
                                {#                  <a href="#" class="btn btn-theme btn-large animated fadeInUp">#}
                                {#											<i class="icon-download"></i> Download#}
                                {#										</a>#}
                            </div>
                            <div class="span6">
                                <img src="static/img/slides/camera/slide3/anonymous.jpg" alt=""
                                     class="animated bounceInDown delay1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- slideshow end here -->

    </section>
    <!-- /section featured -->

    <section id="content">
        <div class="container">


            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span4">
                            <div class="box flyLeft">
                                <div class="icon">
                                    <i class="ico icon-circled icon-bgdark icon-star active icon-3x"></i>
                                </div>
                                <div class="text">
                                    <h4>Talk with your<strong> Volunteer</strong></h4>
                                    <p>
                                        You will find a friend to share your feelings.
                                    </p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <div class="box flyIn">
                                <div class="icon">
                                    <i class="ico icon-circled icon-bgdark icon-dropbox active icon-3x"></i>
                                </div>
                                <div class="text">
                                    <h4>Set appointment with<strong> Psychologist</strong></h4>
                                    <p>
                                        Explain your problems and get help from experts.
                                    </p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="box flyRight">
                                <div class="icon">
                                    <i class="ico icon-circled icon-bgdark icon-laptop active icon-3x"></i>
                                </div>
                                <div class="text">
                                    <h4>Do online <strong>Courses</strong></h4>
                                    <p>
                                        Learn to be happy and build a strong mind.
                                    </p>
                                    <a href="#">Learn More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span12">
                    <div class="solidline"></div>
                </div>
            </div>


            {#          code for chart#}

            <table class="columns">
                <tr>
                    <td>
                        <div id="depressionchart" style="border: 1px solid #ccc"></div>
                    </td>
                    <td>
                        <div id="mentalhelp" style="border: 1px solid #ccc"></div>
                    </td>
                </tr>
            </table>

            <br><br><br><br>


            {#            <div class="row">#}
            {#                <div class="span12">#}
            {#                    <div class="row">#}
            {#                        <div class="span12">#}
            {#                            <div class="aligncenter">#}
            {#                                <h3>Our <strong>Pricing</strong></h3>#}
            {#                                <p>Lorem ipsum dolor sit amet, labores dolorum scriptorem eum an, te quodsi sanctus#}
            {#                                    neglegentur.#}
            {#                                </p>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {##}
            {##}
            {#                    <div class="row">#}
            {##}
            {#                        <div class="span3">#}
            {#                            <div class="pricing-box-wrap animated-fast flyIn">#}
            {#                                <div class="pricing-heading">#}
            {#                                    <h3>Very <strong>Basic</strong></h3>#}
            {#                                </div>#}
            {#                                <div class="pricing-terms">#}
            {#                                    <h6>&#36;15.00 / Month</h6>#}
            {#                                </div>#}
            {#                                <div class="pricing-content">#}
            {#                                    <ul>#}
            {#                                        <li><i class="icon-ok"></i> 100 applications</li>#}
            {#                                        <li><i class="icon-ok"></i> 24x7 support available</li>#}
            {#                                        <li><i class="icon-ok"></i> No hidden fees</li>#}
            {#                                        <li><i class="icon-ok"></i> Free 30-days trial</li>#}
            {#                                        <li><i class="icon-ok"></i> Stop anytime easily</li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="pricing-action">#}
            {#                                    <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign#}
            {#                                        Up</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                        <div class="span3">#}
            {#                            <div class="pricing-box-wrap animated-fast flyIn">#}
            {#                                <div class="pricing-heading">#}
            {#                                    <h3>Simple <strong>Choice</strong></h3>#}
            {#                                </div>#}
            {#                                <div class="pricing-terms">#}
            {#                                    <h6>&#36;20.00 / Month</h6>#}
            {#                                </div>#}
            {#                                <div class="pricing-content">#}
            {#                                    <ul>#}
            {#                                        <li><i class="icon-ok"></i> 100 applications</li>#}
            {#                                        <li><i class="icon-ok"></i> 24x7 support available</li>#}
            {#                                        <li><i class="icon-ok"></i> No hidden fees</li>#}
            {#                                        <li><i class="icon-ok"></i> Free 30-days trial</li>#}
            {#                                        <li><i class="icon-ok"></i> Stop anytime easily</li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="pricing-action">#}
            {#                                    <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign#}
            {#                                        Up</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                        <div class="span3">#}
            {#                            <div class="pricing-box-wrap special animated-slow flyIn">#}
            {#                                <div class="pricing-heading">#}
            {#                                    <h3>Special <strong>Choice</strong></h3>#}
            {#                                </div>#}
            {#                                <div class="pricing-terms">#}
            {#                                    <h6>&#36;15.00 / Month</h6>#}
            {#                                </div>#}
            {#                                <div class="pricing-content">#}
            {#                                    <ul>#}
            {#                                        <li><i class="icon-ok"></i> 100 applications</li>#}
            {#                                        <li><i class="icon-ok"></i> 24x7 support available</li>#}
            {#                                        <li><i class="icon-ok"></i> No hidden fees</li>#}
            {#                                        <li><i class="icon-ok"></i> Free 30-days trial</li>#}
            {#                                        <li><i class="icon-ok"></i> Stop anytime easily</li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="pricing-action">#}
            {#                                    <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign#}
            {#                                        Up</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {##}
            {#                        <div class="span3">#}
            {#                            <div class="pricing-box-wrap animated flyIn">#}
            {#                                <div class="pricing-heading">#}
            {#                                    <h3>Just <strong>Happy</strong></h3>#}
            {#                                </div>#}
            {#                                <div class="pricing-terms">#}
            {#                                    <h6>&#36;15.00 / Month</h6>#}
            {#                                </div>#}
            {#                                <div class="pricing-content">#}
            {#                                    <ul>#}
            {#                                        <li><i class="icon-ok"></i> 100 applications</li>#}
            {#                                        <li><i class="icon-ok"></i> 24x7 support available</li>#}
            {#                                        <li><i class="icon-ok"></i> No hidden fees</li>#}
            {#                                        <li><i class="icon-ok"></i> Free 30-days trial</li>#}
            {#                                        <li><i class="icon-ok"></i> Stop anytime easily</li>#}
            {#                                    </ul>#}
            {#                                </div>#}
            {#                                <div class="pricing-action">#}
            {#                                    <a href="#" class="btn btn-medium btn-theme"><i class="icon-chevron-down"></i> Sign#}
            {#                                        Up</a>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            {#                    </div>#}
            {##}
            {#                </div>#}
            {##}
            {#            </div>#}


            <div class="row">
                <div class="span12 aligncenter">
                    <h3 class="title">What people <strong>think</strong> about current psychological help providers</h3>
                    <div class="blankline30"></div>

                    <ul class="bxslider">
                        <li>
                            <blockquote>
                                They don't feel it the way you feel it. And yes it's difficult. Sometimes just their
                                "everything is gonna be alright" spell does not work.
                            </blockquote>
                            <div class="testimonial-autor">
                                <img src="static/img/dummies/testimonial/1.png" alt=""/>
                                <h4>Anonymous</h4>

                                <a href="#">Department of Computer Science & Engineering, University of Dhaka</a>
                            </div>
                        </li>
                        <li>
                            <blockquote>
                                You are not giving proper solutions to your problem. They are giving typical suggestions
                                which are not even that much helpful in real world.
                            </blockquote>
                            <div class="testimonial-autor">
                                <img src="static/img/dummies/testimonial/3.png" alt=""/>
                                <h4>Anonymous</h4>
                                <a href="#">IBA, University of Dhaka</a>
                            </div>
                        </li>
                        <li>
                            <blockquote>
                                They can't feel what the individual is actually going through
                            </blockquote>
                            <div class="testimonial-autor">
                                <img src="static/img/dummies/testimonial/2.png" alt=""/>
                                <h4>Anonymous</h4>
                                <a href="#">Dhaka University, Department.Applied Mathematics</a>
                            </div>
                        </li>


                        {#              <li>#}
                        {#                <blockquote>#}
                        {#                  Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis feugiat.Suspendisse eu erat quam. Vivamus porttitor eros quis nisi lacinia sed interdum lorem vulputate. Aliquam a orci quis nisi sagittis sagittis. Etiam adipiscing, justo quis#}
                        {#                  feugiat#}
                        {#                </blockquote>#}
                        {#                <div class="testimonial-autor">#}
                        {#                  <img src="static/img/dummies/testimonial/4.png" alt="" />#}
                        {#                  <h4>Marry Doe Elliot</h4>#}
                        {#                  <a href="#">www.companyname.com</a>#}
                        {#                </div>#}
                        {#              </li>#}

                    </ul>

                </div>
            </div>



        <br><br>


        {#         <table class="columns">#}
        {#                <tr>#}
        {#                    <td>#}
        {#                        <div id="problemsharing" style="border: 1px solid #ccc"></div>#}
        {#                    </td>#}
        {#                </tr>#}
        {#            </table>#}





        <table class="columns">
            <tr>
                <td>
                    <div id="container" style="height: 400px; width: 600px;"></div>
                </td>
                <td>
                        <div id="wanttohelp" style="border: 1px solid #ccc"></div>
                </td>
            </tr>

        </table>
        <script>
            anychart.onDocumentReady(function () {
                // create pie chart with passed data
                var chart = anychart.pie3d([
                    ['Psychiatrist', 33],
                    ['Teachers of own institution', 9],
                    ['Classmates', 20],
                    ['Seniors of own department', 18],
                    ['Anonymous volunteer', 12]
                ]);

                // set chart title text settings
                title = chart.title('Students interested in sharing their problem with')
                //set chart radius
                    .radius('63%');

                chart.labels().fontColor("#FFFFFF");
                chart.labels().fontFamily("Menlo");
                chart.labels().fontSize(12);
                chart.labels().fontDecoration("underline");
                chart.labels().fontWeight(900)
                chart.container('container');

                chart.draw();
            });
        </script>


        <br><br>


        <div class="row">
            <div class="span12 aligncenter">
                <h3 class="title">What type of help do students think their <strong>department</strong> can provide</h3>
                <div class="blankline30"></div>

                <ul class="bxslider">
                    <li>
                        <blockquote>
                            Mental support and some seminar about how to survive in many situation.
                        </blockquote>
                        <div class="testimonial-autor">
                            <img src="static/img/dummies/testimonial/1.png" alt=""/>
                            <h4>Anonymous</h4>
                            <a href="#">Psychology, University of Dhaka</a>
                        </div>
                    </li>
                    <li>
                        <blockquote>
                            Like seminar on public health, open discussion on mess public health. Counselling in
                            effective ways
                        </blockquote>
                        <div class="testimonial-autor">
                            <img src="static/img/dummies/testimonial/3.png" alt=""/>
                            <h4>Anonymous</h4>
                            <a href="#">Leather Products Engineering, Dhaka University
                            </a>
                        </div>
                    </li>


                </ul>

            </div>
        </div>

        </div>

    </section>


    <section id="works">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h4 class="title">Recent <strong>Works</strong></h4>
                    <div class="row">

                        <div class="grid cs-style-4">
                            <div class="span3">
                                <div class="item">
                                    <figure>
                                        <div><img src="static/img/dummies/works/1.jpg" alt=""/></div>
                                        <figcaption>
                                            <div>
                          <span>
								<a href="static/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]"
                                   title="Portfolio caption here"><i
                                        class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                                <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="item">
                                    <figure>
                                        <div><img src="static/img/dummies/works/2.jpg" alt=""/></div>
                                        <figcaption>
                                            <div>
                          <span>
								<a href="static/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]"
                                   title="Portfolio caption here"><i
                                        class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                                <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="item">
                                    <figure>
                                        <div><img src="static/img/dummies/works/3.jpg" alt=""/></div>
                                        <figcaption>
                                            <div>
                          <span>
								<a href="static/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]"
                                   title="Portfolio caption here"><i
                                        class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                                <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="item">
                                    <figure>
                                        <div><img src="static/img/dummies/works/4.jpg" alt=""/></div>
                                        <figcaption>
                                            <div>
                          <span>
								<a href="static/img/dummies/works/big.png" data-pretty="prettyPhoto[gallery1]"
                                   title="Portfolio caption here"><i
                                        class="icon-plus icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                                <span>
								<a href="#"><i class="icon-file icon-circled icon-bglight icon-2x"></i></a>
								</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="widget">
                        <h5 class="widgetheading">Browse pages</h5>
                        <ul class="link-list">
                            <li><a href="#">Our company</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Press release</a></li>
                            <li><a href="#">What we have done</a></li>
                            <li><a href="#">Our support forum</a></li>
                        </ul>

                    </div>
                </div>
                <div class="span4">
                    <div class="widget">
                        <h5 class="widgetheading">Get in touch</h5>
                        <address>
                            <strong>Eterna company Inc.</strong><br>
                            Somestreet 200 VW, Suite Village A.001<br>
                            Jakarta 13426 Indonesia
                        </address>
                        <p>
                            <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
                            <i class="icon-envelope-alt"></i> email@domainname.com
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div class="widget">
                        <h5 class="widgetheading">Subscribe newsletter</h5>
                        <p>
                            Keep updated for new releases and freebies. Enter your e-mail and subscribe to our
                            newsletter.
                        </p>
                        <form class="subscribe">
                            <div class="input-append">
                                <input class="span2" id="appendedInputButton" type="text">
                                <button class="btn btn-theme" type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="copyright">
                            <p><span>&copy; Eterna company. All right reserved</span></p>
                        </div>

                    </div>

                    <div class="span6">
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Eterna
                            -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>


<!-- javascript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/js/jquery.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>
<script src="static/js/bootstrap.js"></script>

<script src="static/js/modernizr.custom.js"></script>
<script src="static/js/toucheffects.js"></script>
<script src="static/js/google-code-prettify/prettify.js"></script>
<script src="static/js/jquery.bxslider.min.js"></script>
<script src="static/js/camera/camera.js"></script>
<script src="static/js/camera/setting.js"></script>

<script src="static/js/jquery.prettyPhoto.js"></script>
<script src="static/js/portfolio/jquery.quicksand.js"></script>
<script src="static/js/portfolio/setting.js"></script>

<script src="static/js/jquery.flexslider.js"></script>
<script src="static/js/animate.js"></script>
<script src="static/js/inview.js"></script>

<!-- Template Custom JavaScript File -->
<script src="static/js/custom.js"></script>


</body>


{#chart code#}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawPieChart);
    google.charts.setOnLoadCallback(drawColumnChart);
    google.charts.setOnLoadCallback(drawSharingChart);
    google.charts.setOnLoadCallback(drawSideBarChart);

    function drawPieChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Academic/Career', 50],
            ['Relationship', 22],
            ['Family', 28],
            ['Friends', 22],
            ['Others', 15]
        ]);

        var options = {
            title: 'Reasons behind students depression',
            pieHole: 0.55,
            width: 600,
            height: 400
        };

        var chart = new google.visualization.PieChart(document.getElementById('depressionchart'));
        chart.draw(data, options);

    }


    function drawSharingChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Academic/Career', 50],
            ['Relationship', 22],
            ['Family', 28],
            ['Friends', 22],
            ['Others', 15]
        ]);

        var options = {
            title: 'Students interested in sharing their problem with',
            pieHole: 0.55,
            width: 600,
            height: 400
        };

        var chart = new google.visualization.PieChart(document.getElementById('problemsharing'));
        chart.draw(data, options);

    }


    function drawColumnChart() {

        var data1 = google.visualization.arrayToDataTable([
            ['Mental help level', 'Percentage', {role: 'style'}],
            ['Level 1', 14, 'stroke-color: #703593; stroke-width: 4; fill-color: #76A7FA'],
            ['Level 2', 17, 'stroke-color: #703593; stroke-width: 4; fill-color: #76A7FA'],
            ['Level 3', 16, 'stroke-color: #703593; stroke-width: 4; fill-color: #76A7FA'],
            ['Level 4', 6, 'stroke-color: #703593; stroke-width: 4; fill-color: #76A7FA'],
            ['Level 5', 10, 'stroke-color: #703593; stroke-width: 4; fill-color: #76A7FA']
        ]);

        var options1 = {
            title: 'Level of mental help students receive',
            width: 600,
            height: 400

        };

        var chart1 = new google.visualization.ColumnChart(document.getElementById('mentalhelp'));
        chart1.draw(data1, options1);

    }


    function drawSideBarChart() {
        var data = google.visualization.arrayToDataTable([
            [' Level', 'Number of People', {role: 'style'},],
            [' Level 1', 2, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2'],
            {#[' Level 2', 4, 'color: #76A7FA'],#}
            [' Level 2', 4, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2'],
            [' Level 3', 7, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2'],
            [' Level 4', 15, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2'],
            [' Level 5', 20, 'stroke-color: #871B47; stroke-opacity: 0.6; stroke-width: 8; fill-color: #BC5679; fill-opacity: 0.2']
        ]);

          var options = {
            title: 'Students want to help others',
            width: 600,
            height: 400
        };

        var chart = new google.visualization.BarChart(document.getElementById('wanttohelp'));
        chart.draw(data, options);

    }



</script>
</html>
