<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Academic/Career',     50],
          ['Relationship',      22],
          ['Family',  28],
          ['Friends', 22],
          ['Others',    15]
        ]);

        var options = {
          title: 'Reasons behind students depression',
          pieHole: 0.55,
        };

        var chart = new google.visualization.PieChart(document.getElementById('depressionchart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="depressionchart" style="width: 600px; height: 400px;"></div>
  </body>
</html>